# 정렬

### 버블정렬
데이터의 `인접` 요소끼리 비교하고, `swap` 연산을 수행하며 정렬하는 방식
> 시간복잡도 O(N^2)
 -  swap 이 한 번도 일어나지 않으면 영역 뒤에 있는 데이터가 모두 정렬 됐다는 의미로서 프로세스를 종료해도 된다.

**코드스니펫 버블 정렬**

In [24]:
data = [4, 6, 2, 9, 1]

In [36]:
def bubble_sort(array):
    cnt = 0
    while cnt != len(array): # 프로세스를 종료하기 위한 조건 > 시간 복잡도가 N^2 이니까 N * N 반복
        for i in range(len(array)): # 0번째 인덱스는 비교 대상이 없음.
            if i > 0:
                if array[i] <= array[i-1]:
                    array[i], array[i-1] = array[i-1], array[i]
        cnt += 1
    return array

bubble_sort(data)

print(data)  # [1, 2, 4, 6, 9] 가 되어야 합니다!

print("정답 = [1, 2, 4, 6, 9] / 현재 풀이 값 = ",bubble_sort([4, 6, 2, 9, 1]))
print("정답 = [-1, 3, 9, 17] / 현재 풀이 값 = ",bubble_sort([3,-1,17,9]))
print("정답 = [-3, 32, 44, 56, 100] / 현재 풀이 값 = ",bubble_sort([100,56,-3,32,44]))

# while 조건: 은 조건인 경우에 돌아가는 형식!!!! 맨날 헷갈림.

[1, 2, 4, 6, 9]
정답 = [1, 2, 4, 6, 9] / 현재 풀이 값 =  [1, 2, 4, 6, 9]
정답 = [-1, 3, 9, 17] / 현재 풀이 값 =  [-1, 3, 9, 17]
정답 = [-3, 32, 44, 56, 100] / 현재 풀이 값 =  [-3, 32, 44, 56, 100]

In [1]:
def bubble_sort(array):
    for i in range(len(array)):
        for j in range(len(array)-i-1):
            if (array[j] > array[j+1]):
                array[j+1], array[j] = array[j], array[j+1]
            print(array)
array = [1, 10, 5, 8, 7, 6, 4, 3, 2, 9]
bubble_sort(array)

[1, 10, 5, 8, 7, 6, 4, 3, 2, 9]
[1, 5, 10, 8, 7, 6, 4, 3, 2, 9]
[1, 5, 8, 10, 7, 6, 4, 3, 2, 9]
[1, 5, 8, 7, 10, 6, 4, 3, 2, 9]
[1, 5, 8, 7, 6, 10, 4, 3, 2, 9]
[1, 5, 8, 7, 6, 4, 10, 3, 2, 9]
[1, 5, 8, 7, 6, 4, 3, 10, 2, 9]
[1, 5, 8, 7, 6, 4, 3, 2, 10, 9]
[1, 5, 8, 7, 6, 4, 3, 2, 9, 10]
[1, 5, 8, 7, 6, 4, 3, 2, 9, 10]
[1, 5, 8, 7, 6, 4, 3, 2, 9, 10]
[1, 5, 7, 8, 6, 4, 3, 2, 9, 10]
[1, 5, 7, 6, 8, 4, 3, 2, 9, 10]
[1, 5, 7, 6, 4, 8, 3, 2, 9, 10]
[1, 5, 7, 6, 4, 3, 8, 2, 9, 10]
[1, 5, 7, 6, 4, 3, 2, 8, 9, 10]
[1, 5, 7, 6, 4, 3, 2, 8, 9, 10]
[1, 5, 7, 6, 4, 3, 2, 8, 9, 10]
[1, 5, 7, 6, 4, 3, 2, 8, 9, 10]
[1, 5, 6, 7, 4, 3, 2, 8, 9, 10]
[1, 5, 6, 4, 7, 3, 2, 8, 9, 10]
[1, 5, 6, 4, 3, 7, 2, 8, 9, 10]
[1, 5, 6, 4, 3, 2, 7, 8, 9, 10]
[1, 5, 6, 4, 3, 2, 7, 8, 9, 10]
[1, 5, 6, 4, 3, 2, 7, 8, 9, 10]
[1, 5, 6, 4, 3, 2, 7, 8, 9, 10]
[1, 5, 4, 6, 3, 2, 7, 8, 9, 10]
[1, 5, 4, 3, 6, 2, 7, 8, 9, 10]
[1, 5, 4, 3, 2, 6, 7, 8, 9, 10]
[1, 5, 4, 3, 2, 6, 7, 8, 9, 10]
[1, 5, 4, 3, 2, 6, 7, 8, 9, 10]
[1, 4, 5, 3, 2, 6, 7, 8, 9, 10]
[1, 4, 3, 5, 2, 6, 7, 8, 9, 10]
[1, 4, 3, 2, 5, 6, 7, 8, 9, 10]
[1, 4, 3, 2, 5, 6, 7, 8, 9, 10]
[1, 4, 3, 2, 5, 6, 7, 8, 9, 10]
[1, 3, 4, 2, 5, 6, 7, 8, 9, 10]
[1, 3, 2, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 2, 4, 5, 6, 7, 8, 9, 10]
[1, 3, 2, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 선택정렬
* 최대나 최소 데이터를 데이터가 나열된 순으로 찾아가며 선택하는 방법
<br> 코테에 자주 출제되지는 않으나, 면접용
> 시간복잡도 O(N^2)

 - 최솟값 또는 최댓값을 찾고, 남은 정렬 부분의 `가장 앞`에 있는 데이터와 swap을 하는 것이 선택 정렬의 핵심

**[코드시니펫] 선택 정렬**
<br> Q. 다음과 같이 숫자로 이루어진 배열이 있을 때, 오름차순으로 선택 정렬을 이용해서 정렬하시오.

In [78]:
data = [4, 6, 2, 9, 1]

In [79]:
def selection_sort(array):
    cnt = 0
    results = []
    n = len(array)
    while cnt != n: # array 가 계속 변하기 때문에 위에 따로 변수 지정
        # 최솟값을 찾기
        if len(array) != 0:
            min_ = min(array)
            for i in range(len(array)):
                if array[i] == min_:
                    array[0] , array[i] = array[i], array[0] # min값인 곳과 맨 앞을 Swap

            results.append(array.pop(0)) # 최솟값의 fix을 위해서 pop 을 통해 해결 

        cnt += 1
    return results

In [82]:
selection_sort([4, 6, 2, 9, 1])  # [1, 2, 4, 6, 9] 가 되어야 합니다!

[1, 2, 4, 6, 9]

In [81]:
print("정답 = [1, 2, 4, 6, 9] / 현재 풀이 값 = ",selection_sort([4, 6, 2, 9, 1]))
print("정답 = [-1, 3, 9, 17] / 현재 풀이 값 = ",selection_sort([3,-1,17,9]))
print("정답 = [-3, 32, 44, 56, 100] / 현재 풀이 값 = ",selection_sort([100,56,-3,32,44]))

정답 = [1, 2, 4, 6, 9] / 현재 풀이 값 =  [1, 2, 4, 6, 9]
정답 = [-1, 3, 9, 17] / 현재 풀이 값 =  [-1, 3, 9, 17]
정답 = [-3, 32, 44, 56, 100] / 현재 풀이 값 =  [-3, 32, 44, 56, 100]

### **프로그래머스** [정렬 : k 번째 수](https://school.programmers.co.kr/learn/courses/30/lessons/42748)

i 번째 부터 j 번째 까지 자르고 "정렬" 후 k 번째 숫자

In [84]:
array = [1, 5, 2, 6, 3, 7, 4]
command = [2,5,3]
new_array = array[command[0]-1:command[1]]
print(new_array)

[5, 2, 6, 3]

In [92]:
def solution(array, commands):
    answer = []
    for command in commands:
        new_array = array[command[0]-1:command[1]]
        new_array.sort()
        answer.append(new_array[command[2]-1])
    return answer

# labda 를 이용한 한줄 코딩 list(map(lambda x:sorted(array[x[0]-1:x[1]])[x[2]-1], commands))
# 어휴...

In [89]:
# 내포도 이용 가능하겠네...
def solution(array, commands):
    return [sorted(array[command[0]-1:command[1]])[command[2]-1] for command in commands]

In [93]:
array = [1, 5, 2, 6, 3, 7, 4]
commands = [[2, 5, 3], [4, 4, 1], [1, 7, 3]]

In [94]:
solution(array, commands)

[5, 6, 3]

### **프로그래머스** [정렬 : 가장 큰 수](https://school.programmers.co.kr/learn/courses/30/lessons/42746)

0 또는 양의 정수가 주어졌을 때, 정수를 이어 붙여 만들 수 있는 가장 큰 수를 알아내 주세요.

In [97]:
d = ['6','10','3']
s = d[0] + d[1] + d[2]
int(s)
# 숫자가 3개면 만들수 있는 수 배열은 3! = 6개 
# 123 , 132, 213, 231, 312, 321
# 문제는 이 배열을 정하는 것이다!!!!!!!!
# permutation 인데.. 흠..

6103

In [103]:
# 검색 찬스... 해당 함수를 가진 module 
import itertools

pool = ['A', 'B', 'C']
print(list(map(''.join, itertools.permutations(pool)))) # 3개의 원소로 순열 만들기
print(list(map(''.join, itertools.permutations(pool, 2)))) # 2개의 원소로 순열 만들기

['ABC', 'ACB', 'BAC', 'BCA', 'CAB', 'CBA']
['AB', 'AC', 'BA', 'BC', 'CA', 'CB']

오답1 : 시간 초과

In [110]:
# 써 봅시다ㅍ > 시간초과.. 왜 일까... 흠..
def solution(numbers):
    
    import itertools

    numbers = [str(n) for n in numbers]
    result = list(map(''.join, itertools.permutations(numbers)))
    answer = max([int(i) for i in result])
    return str(answer)

오답2 : 걍 틀림

In [122]:
# 큰 수를 만드는 방법
# 큰 수의 배열 

data =[6,10,2] # 각 자리 수로 분리 해야한다.
result = []
for i in data:
    n = i % 10 
    a = i // 10
    result.append(n)
    if a != 0:
        result.append(a)
    result.sort(reverse=True)
answer = ''.join([str(i) for i in result])

In [121]:
def solution(numbers):
    result = []
    for i in numbers:
        n = i % 10 
        a = i // 10
        result.append(n)
        if a != 0:
            result.append(a)
    answer = ''.join([str(i) for i in result])
    return answer

# 33, 34 같은 경우 다른 값이 나오네...

In [123]:
### 포기이이이이

In [ ]:
# 자리 바꾸기.
numbers = [3, 30, 34, 5, 9]

In [1]:
def solution(numbers):
    answer = ''
    
    return answer

##### 스터디

In [2]:
a = ['16', '123', '53']

- a 원소를 모두 정수로 변경해주세요
- 그리고 내림차순으로 b라는 리스트에 넣어주세요
- b를 출력해주세요

In [4]:
a

['16', '123', '53']

In [8]:
for i in range(len(a)):
    a[i] = int(a[i])

b = sorted(a,reverse=True)
print(b)

[123, 53, 16]

In [12]:
b = sorted([int(i) for i in a] ,reverse=True)
print(b)

[123, 53, 16]

In [24]:
import numpy as np

c = 3/7
r =2/7
f = 2/7

H = -1*(c*np.log2(c) + r*np.log2(r) + f*np.log2(f))
H

1.5566567074628228

In [30]:
rem = (4/7)*(-(2/4*np.log2(2/4)+1/4*np.log2(1/4)+1/4*np.log2(1/4))) + (3/7)*(-(2/3*np.log2(2/3)+1/3*np.log2(1/3)))

IG = H - rem
print(rem, IG)

1.2506982145947811 0.30595849286804166

In [26]:
rem2 = 5/7*(-(3/5*np.log2(3/5)+1/5*np.log2(1/5)*2))
IG2 = H - rem2
print(rem2, IG)

0.9792504246104776 0.12131831424510198

In [27]:
rem3 = 3/7*(-(2/3*np.log2(2/3)+1/3*np.log2(1/3)))+2/7
IG3 = H - rem3
print(rem3, IG3)

0.6792696431662097 0.8773870642966131

In [33]:
# high
h_t = -(2/3*np.log2(2/3)+ 1/3*np.log2(1/3))

# Stream

rem_s = 2/3

ig_s = h_t - rem_s
print(f'stream의 IG = {ig_s}')

# Slope 

rem_l = 0

ig_l = h_t - rem_l

print(f'slope 의 IG = {ig_l}')

stream의 IG = 0.2516291673878229
slope 의 IG = 0.9182958340544896